.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(250, 235, 215, 0.216);
  height: 6.875rem;
  margin-top: 1.25rem;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar li {
  list-style: none;
  padding: 1.25rem;
  padding-top: 3.125rem;
  padding-left: 5rem;
  transition: color 0.3s, border-bottom 0.3s;
  color: rgb(101, 98, 98);
}

.navbar li:hover {
  color: rgb(162, 73, 164);
  transform: scale(1.1);
  transition: transform 0.3s;
}

.logo {
  width: 8.125rem;
  height: auto;
  padding-left: 0.625rem;
  margin-left: 0.625rem;
}

.logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
