.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  background-color: rgba(137, 80, 190, 0.203);
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.portada {
  width: 100%;
  height: auto;
  margin-top: 1.875rem;
}
