@font-face {
  font-family: "fuenteGeneral";
  src: url(../../../../public/fonts/saudagar/Saudagar.ttf);
}
.contenedor-detalle {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  padding: 6.25rem;
  border: solid 0.0625rem;
  border-color: rgba(250, 240, 230, 0.63);
  margin: 1.25rem;
  font-family: "fuenteGeneral", sans-serif;
  color: black;
  background-color: linen;
  height: 90vh;
}

.imagen-planta {
  width: 18.75rem;
  height: auto;
  display: flex;
  border-radius: 0.3125rem;
  border: solid 1px;
  border-color: lightgray;
}

.titulo-datail {
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
  border-bottom: solid 0.0625rem;
  padding-bottom: 0.625rem;
  border-color: black;
  font-size: 1.875rem;
  text-transform: uppercase;
}

.description-datail {
  padding: 3.125rem;
  color: gray;
}

.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.icon-wpp {
  width: 40px;
  height: auto;
}

.contenedor-img {
  display: flex;
  align-items: center;
}

.counter-datail {
  border-top: solid 1px;
  border-color: rgba(128, 128, 128, 0.534);
  padding-top: 1.5625rem;
  margin-top: 1.25rem;
}
.description-price {
  color: purple;
  font-weight: 700;
}

.stock-alcanzado {
  font-family: fuenteGeneral;
  font-size: 20px;
  color: purple;
  margin-bottom: 1.25rem;
}

.fin-compra {
  font-family: fuenteGeneral;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .titulo-datail {
    font-size: 1.5625rem;
  }
  .description-datail {
    font-size: 0.75rem;
    padding: 1.25rem;
  }
  .contenedor-detalle {
    padding: 3.125rem;
  }
}

@media (max-width: 768px) {
  .contenedor-detalle {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 0.625rem;
    justify-items: center;
    gap: 0rem;
    height: auto;
  }
  .imagen-planta {
    width: 15.625rem;
  }
  .titulo-datail {
    font-size: 1.25rem;
  }
  .description-datail {
    font-size: 0.75rem;
  }
}

@media (max-width: 425px) {
  .contenedor-detalle {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 0.625rem;
    justify-items: center;
    gap: 0rem;
    height: auto;
  }
  .imagen-planta {
    width: 9.375rem;
    margin: 0.625rem;
  }
  .titulo-datail {
    padding-top: 1.25rem;
    font-size: 16px;
  }
  .stock-alcanzado {
    font-size: 0.75rem;
  }
  .fin-compra {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
