@font-face {
  font-family: "fuente";
  src: url(../../../../public/fonts/saudagar/Saudagar.ttf);
}

.footer-container {
  width: 100%;
  background-color: Linen;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "fuente";
}

.footer-effect {
  transition: color 0.3s, border-bottom 0.3s;
  color: rgb(50, 49, 49);
}

.footer-effect:hover {
  color: rgb(162, 73, 164);
  transform: scale(1.2);
  transition: transform 0.3s;
}

.footer-container2 {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  margin: 1.875rem;
}

.redes {
  display: flex;
  gap: 3.125rem;
}

@media (max-width: 768px) {
  .redes {
    gap: 0.9375rem;
  }
  .footer-container2 {
    flex-direction: column;
    align-items: center;
    padding-top: 0.625rem;
    gap: 0.625rem;
  }
}

@media (max-width: 425px) {
  .footer-container2 {
    flex-direction: column;
    align-items: center;
    padding-top: 0.625rem;
    gap: 0.625rem;
  }
}

@media (max-width: 320px) {
  .footer-container2 {
    flex-direction: column;
    align-items: center;
    padding-top: 0.625rem;
    gap: 0.625rem;
    font-size: 0.75rem;
  }
}
